.shop-category{
    height: 215vh;
}
.shopcategory-banner{
    display: block;
    margin:30px auto;
    width: 82%;
}

.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopcategory-loadmore button{
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: black;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid black;
}

@media (max-width:430px) {
    .shop-category{
        height: 390vh;
    }
    .shopcategory-products{
        margin: 20px 100px;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 20px
    }
    
    .shopcategory-loadmore{
        margin-left: 10px;
        margin-bottom: 10px;
    }
}